/**
 * Editor Core Layout
 */

.milkdown {
  min-height: 100%;
  outline: none;
}

/* Reset potential focus outlines during interactions */
.milkdown,
.milkdown .ProseMirror,
.milkdown-editor,
.heading-hash-hover,
.heading-level-menu,
.heading-level-item {
  outline: none !important;
  box-shadow: none !important;
}

/* Editor container - clickable area */
.milkdown-editor {
  background-color: var(--neko-bg-primary);
  scroll-behavior: smooth;
  min-height: calc(100vh - 200px);
  cursor: text;
}

/* ProseMirror editor needs min-height to be clickable */
.milkdown .ProseMirror {
  min-height: calc(100vh - 250px);
  padding-bottom: 50vh;
}

/* Focus & Cursor */
.milkdown .ProseMirror:focus {
  outline: none;
}

.milkdown .ProseMirror {
  caret-color: #2C2C2B;
  line-height: calc(1em + 8px);
}

/* Selection */
.milkdown ::selection {
  background-color: #2783de;
  color: white;
}